body
{
    margin: 0 auto 0 auto;
    background: transparent url(images/gradient-top.png) repeat-x left top;
}

body *
{
    font:normal 14px tahoma, arial, helvetica, sans-serif;
    text-align: left;
}

h1, h2 ,h3
{
    color: #333;
}

h1{ font-size: 32px; color: #2980B9;}
h2{ font-size: 22px; }
h3{ font-size: 18px; font-weight: bold; padding: 3px; margin: 0;}

a{ color: #00576d; text-decoration: none; }
a:hover{ color: #e88c00; }

img{ border: 0 }

strong
{
    font-weight: bold;
}

table
{
    width: 100%;
}

table, td
{
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

#header-menu
{
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #2980b9;
    z-index: 10000;
}

#header-menu .container
{
    padding: 10px;
}

#header-menu .home
{
    float: left;
}

#header-menu .add-report
{
    float: right;
}

#header-menu h1
{
    float: left;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 40px;
    margin-left: 5px;
    border-left: solid 3px #468EBE;
    padding-left: 10px;
    font-size: 28px;
}

#main-container
{
    margin: 0 auto 0 auto;
    border: solid 1px #d3d3d3;
    padding: 20px 5px 20px 5px;
    margin-top: 60px;
}

#header .logo
{
    text-align: center;
    width: 50%;
}

#messages
{
    background-color: #ffff99;
	padding: 3px;
	color: #000;
	font-weight: bold;
    font-size: 24px;
    top: -20px;
    position: relative;
    border-left: solid 2px #E5B500;
    border-right: solid 2px #E5B500;
    border-bottom: solid 2px #E5B500;
}

#messages .error
{
	color: #ca1919;
    font-size: 24px;
}

#content .center
{
    padding-bottom: 30px;
}

.filter .town
{
    padding-right: 15px;
    width: 50%;
}

.filter .type
{
    padding-left: 15px;
    width: 50%;
}

.filter .monitor-button
{
    background-color: #d35400;
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 7px 10px 7px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 10px 0 0 0;
    
    border-radius: 7px;
}

#reports
{
    margin-top: 20px;
}

#reports .list-container
{
    min-height: 300px;
}

#reports .list tr
{
    border-top: dashed 1px #d3d3d3;
}

#reports .list tr.separator
{
    border-top: none;
}

#reports .list tr:hover, #reports .list tr:active
{
    background-color: #e8e8e8;
}

#reports .list tr.near
{
    border-right: solid 10px #e74c3c;
}

#reports .list tr.blink
{
    border-right: solid 10px #f39c12;
}

#reports .list td
{
    padding: 7px 0 7px 0;
}

#reports .list tr.separator td
{
    padding: 2px;
}

#reports .list .details a
{
    color: #000
}

#reports .location
{
    display: block;
    width: 34px;
    height: 43px;
    margin: 5px;
}

#reports .route
{
    font-weight: bold;
    font-size: 18px;
}

#reports .city
{
    font-size: 15px;
}

#reports .details a .type
{
    color: #808080;
    font-size: 15px;
}

#reports .confirm
{
    color: #fff;
    background-color: #16A085;
    display: block;
    float: right;
    padding: 15px 10px 15px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

#navigation
{
    margin-top: 20px;
}

#navigation .pages
{
    text-align: center;
    color: #545454;
    width: 25%;
    font-size: 18px;
}

#navigation .previous, #navigation .next
{
    width: 37.5%;
}

#navigation .previous a, #navigation .next a
{
    display: block;
    padding: 15px 10px 15px 10px;
    background-color: #D9D9D9;
    color: #2C3D4E;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
    border-radius: 7px;
}

#navigation .previous a
{
    float: left;
}

#navigation .next a
{
    float: right;
}

#deficiency-view .icon
{
    background: transparent url(images/deficiency-icon.png) no-repeat center;
    width: 40px;
    height: 40px;
    margin: 0 5px 5px 5px;
    padding-right: 10px;
    
}

#deficiency-view .type
{
    font-size: 18px;
    font-weight: bold;
}

#deficiency-view .time-elapsed
{
    color: #4d4d4d;
    font-size: 13px;
    font-weight: bold;
}

#deficiency-view .confirm a
{
    color: #fff;
    background-color: #16A085;
    display: block;
    float: right;
    padding: 15px 10px 15px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

#deficiency-view .map-container
{
    margin-top: 20px;
    border: solid 1px #d4d4d4;
    padding: 5px;
}

#deficiency-view .address-icon
{
    background: transparent url(images/location.png) no-repeat center;
    width: 40px;
    height: 40px;
    padding: 25px 7px 0 0;
    float: left; 
}

#deficiency-view .address-line
{
    font-size: 18px;
    font-weight: bold;
}

#deficiency-view .address-city, #deficiency-view .address-info, #deficiency-view .report-comment
{
    font-size: 16px;
}

label
{
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    font-size: 24px;
}

input[type=text], input[type=file], select, textarea
{
    display: block;
    width: 100%;
    margin-bottom: 7px;
    height: 35px;
    border-radius: 3px;
    boder: solid 1px #d3d3d3;
    box-shadow: 0px 0px 8px #d3d3d3;
    font-size: 20px;
}

input[type=text]:focus, input[type=file]:focus, select:focus, textarea:focus
{
    box-shadow: 0px 0px 8px #2980B9;
}

textarea
{
    height: 150px;
}

input[type=file]
{
    height: 45px;
}

input[type=submit]
{
    padding: 10px;
    border-radius: 3px;
    background-color: #16A085;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin: 0 auto 0 auto;
    font-size: 24px;
    display: inline;
}
